#windows:
Thumbs.db
ehthumbs.db
Desktop.ini

#WebStorm
*.idea
.idea
idea
.DS_Store
*.DS_Store
.project

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

#node
node_modules
npm-debug.log

build